@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<audio id="background-music" autoplay loop>
    <source src="~/audio/1.mp3" type="audio/mpeg">
    
    Your browser does not support the audio element.
</audio>



<script>
    function playAudio() {
        var audio = document.getElementById("background-music");
        audio.play();
    }
</script>
    
<p>
    Use this page to detail your site's privacy policy.
    </p>
<!-- Background Music -->
